@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
.header
{
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: pink;
    padding-left: 5px;

}