body {
  padding: 50px;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}
/* .listItems
{
    box-shadow: thistle;
    border: tomato;
} */
body {
  background-image: url(/public/images/background.jpg);
}
